In [20]:
import random
import math

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].\
i. WAP to add 200 and 300 to L.\
ii. WAP to remove 10 and 30 from L.\
iii. WAP to sort L in ascending order.\
iv. WAP to sort L in descending order.

In [8]:
L = list([10, 20, 30, 40, 50, 60, 70, 80])

## i
L.append(200)
L.append(300)
print(L)

## ii
L.remove(10)
L.remove(30)
print(L)

## iii
L.sort()
print(L)

## iv
L.reverse()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:\
i. Identify the highest score and its index in the tuple.\
ii. Find the lowest score and count how many times it appears.\
iii. Reverse the tuple and return it as a list.\
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [19]:
marks = tuple([45, 89.5, 76, 45.4, 89, 92, 58, 45])

## i
maxMark = max(marks)
print(maxMark)

## ii
minMark = min(marks)
minCount = marks.count(minMark)
print(minMark, minCount)

## iii
tupleToList = list(marks)
tupleToList.reverse()
print(tupleToList)

## iv
search = float(input("Enter the number to search"))
if search in tupleToList:
    index = tupleToList.index(search)
    print(search, " is at the index ", index)
else :
    print("Not Found")

92
45 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
76.0  is at the index  5

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:\
i.   All odd numbers\
ii.  All even numbers\
iii. All prime numbers

In [22]:
randomList = random.sample(range(100, 900), k = 100)

def isPrime(num):
    if num<=1:
        return False
    for i in range(2, num//2+1):
        if num%i == 0:
            return False
    return True

evenList = list(filter(lambda x:x%2 == 0 , randomList))
print(evenList)
oddList = list(filter(lambda x:x%2 != 0 , randomList))
print(oddList)
primeList = list(filter(isPrime, randomList))
print(primeList)

[472, 676, 460, 764, 324, 750, 864, 712, 296, 488, 292, 188, 832, 332, 872, 592, 322, 486, 730, 194, 568, 702, 512, 742, 610, 834, 838, 122, 174, 346, 268, 160, 398, 560, 240, 680, 422, 466, 756, 190, 192, 862, 880, 330, 234, 888, 116, 340, 420, 286, 408]
[715, 627, 889, 759, 429, 727, 199, 107, 575, 557, 443, 813, 681, 665, 299, 459, 261, 431, 851, 635, 607, 417, 357, 197, 259, 773, 649, 871, 319, 279, 297, 631, 539, 775, 103, 883, 593, 277, 517, 857, 831, 645, 359, 899, 295, 337, 619, 621, 191]
[727, 199, 107, 557, 443, 431, 607, 197, 773, 631, 103, 883, 593, 277, 857, 359, 337, 619, 191]

4. Consider the following two sets, A and B, representing scores of two teams in muliple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}\
WAP to perform the following operations using set functions:\
i. Find the unique scores achieved by both teams (union of sets).\
ii. Identify the scores that are common to both teams (intersection of sets).\
iii. Find the scores that are exclusive to each team (symmetric difference).\
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.\
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [25]:
setA = set([34, 56, 78, 90])
setB = set([78, 45, 90, 23])
setUnion = setA.union(setB)
print(setUnion)
setIntersection = setA.intersection(setB)
print(setIntersection)
setSymmDiff = setA.symmetric_difference(setB)
print(setSymmDiff)
isAsubB = setA.issubset(setB)
print(isAsubB)
isBsubA = setB.issubset(setA)
print(isBsubA)
X = int(input("Enter the number to remove from"))
if X in setA:
    setA.remove(X)
    print("Updated Set A: ", setA)
else :
    print(X, " is not in Set A.")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
Updated Set A:  {34, 90, 78}

5. Write a program to rename a key city to a locaƟon in the following dictionary.\
sample_dict = {\
    "name": "Kelly",\
    "age": 25,\
    "salary": 8000,\
    "city": "New York"\
}

In [28]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}